configobj==5.0.6
configparser==3.7.4
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
mccabe==0.6.1
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
pyrtlsdr==0.2.91
python-xlib==0.20
pyxdg==0.25
setproctitle==1.1.10
six==1.11.0
typing==3.6.6
